body{
    background-color: rgb(64, 163, 155)
    ;
    text-align: center;
}
h1{
    color: rgb(3, 31, 29);
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}
li:hover{
    background-color: red;
/* }
li:hover{
    background-color: red; */
}
p1 {
    font-family: verdana;
    font-size: 20px;

}